{% extends 'hotel/index.html' %} 

{% block titulo %}Acerca de Mí{% endblock titulo %}

{% block contenido %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Acerca de Mí y el Proyecto Hotel Paraíso 🏨</h1> 
        
        <div class="row justify-content-center">
            <div class="col-md-8">
                <p class="lead">¡Hola! Soy Lucas Daniel Gonzalez, y este sitio web, Hotel Paraíso, es un proyecto de desarrollo web creado con el framework Django de Python en el curso de desarollo web backend de coderhouse.</p>
                
                <p>
                    Como Analista de Sistemas egresado del Instituto Tecnológico Beltrán, cuento con una base sólida en HTML, CSS, Python y SQL. Este proyecto me ha permitido aplicar y consolidar mis habilidades en el desarrollo backend con Django, una habilidad que estoy activamente ampliando.
                    Además, aplico el control de versiones con Git y GitHub y metodologías ágiles como SCRUM.
                </p>
                
                <hr>
                
                <h3>Motivación del Proyecto</h3>
                <p>El objetivo principal de esta aplicación era dominar las operaciones CRUD (Crear, Leer, Actualizar, Eliminar), gestionar la autenticación de usuarios y aplicar la lógica de negocio con el framework Django. Ha sido un excelente proyecto para poner en práctica mis conocimientos en bases de datos (MySQL Básico) y demostrar mi proactividad, trabajo en equipo y adaptabilidad.</p>
                
                <h3>Tecnologías Principales</h3>
                <ul>
                    <li>Lenguaje Principal: Python</li>
                    <li>Framework: Django</li>
                    <li>Base de Datos: sqlite3 (Nivel Básico)</li>
                    <li>Frontend/Estilo: HTML, CSS y Bootstrap.</li>
                </ul>
                
                <p class="mt-4">¡Gracias por visitar! Puedes seguir explorando el sistema usando las opciones de la barra de navegación. Si deseas contactarme, mis datos son:</p>
                
                <ul class="list-unstyled">
                    <li>Teléfono: +54 11 3443-8921</li>
                    <li>Email: <a href="mailto:lucadanielgonzalez@gmail.com">lucadanielgonzalez@gmail.com</a></li>
                    <li>LinkedIn: <a href="https://www.linkedin.com/in/lucas-daniel-gonzalez-489b521b2">Mi Perfil de LinkedIn</a></li>
                    <li>GitHub: <a href="https://github.com/lucasdanielgonzalez">Mi Perfil de GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock contenido %}